body {
    margin: 0;
    padding: 0;
    background-color: #0a0546;
}

.boxes {
    display: flex;
    width: 100%;
}

.progress {
    border: 1px solid #c7c7c7;
    border-right: none;
    position: relative;
}

.progress-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #7ecc00;
    opacity: .60;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4 ease-out;
}

.box {
    height: 40px;
    border-right: 1px solid #c7c7c7;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255, .82);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .33 ease-out;
    transform: scale(1.2);
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    background-color: #0a0546;
}

body.overlay-is-open .main-ui {
    filter: blur(4px);
}

@keyframes showError {
    50% {
        color: red;
        transform: scale(1.2);
    }

    100% {
        color: #3333;
        transform: scale(1);
    }
}

.animate-warning {
    animation: .45s showError;
}

.main-ui {
    text-align: center;
    width: 69%;
    margin: 0 auto;
}

.problem {
    font-size: 69px;
    color: white;
}

.our-field {
    display: block;
    margin: 25px auto 25px;
    font-size: 3rem;
    width: 20%;
    border-radius: 10px;
    border: none;
}

.submit-btn, .reset-button {
    padding: 15px 35px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #7ecc00;
    color: white;
    border: none;
}

.end-message {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 69px;
}

.reset-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.status-message {
    font-size: 32px;
    color: white;
}

.countdown {
    color: white;
    font-size: 32px;
    padding-top: 55px;
}